In [1]:
import pandas as pd
df = pd.read_csv("index.csv")

In [2]:
df.shape

(257, 12)

In [3]:
df

     A  B   C   D  E  F      G      H       I     J  K  L
0    C  A   8   0  S  0   COIL  0.700   610.0     0  0  3
1    C  R   0   0  S  0   COIL  3.200   610.0     0  0  3
2    C  R   0   0  S  0  SHEET  0.700  1300.0   762  0  3
3    C  A   0  60  ?  0   COIL  2.801   385.1     0  0  3
4    C  A   0  60  ?  0  SHEET  0.801   255.0   269  0  3
..  .. ..  ..  .. .. ..    ...    ...     ...   ... .. ..
252  C  A   0  60  ?  0   COIL  0.799   609.0     0  0  3
253  C  R   6   0  ?  0  SHEET  1.000   610.0  4880  0  3
254  C  A   0  50  ?  0   COIL  0.600    20.0     0  0  3
255  C  K  45   0  ?  0   COIL  0.600   900.0     0  0  3
256  C  R   6   0  ?  0  SHEET  1.000   610.0   762  0  3

[257 rows x 12 columns]

In [4]:
df.head()

   A  B  C   D  E  F      G      H       I    J  K  L
0  C  A  8   0  S  0   COIL  0.700   610.0    0  0  3
1  C  R  0   0  S  0   COIL  3.200   610.0    0  0  3
2  C  R  0   0  S  0  SHEET  0.700  1300.0  762  0  3
3  C  A  0  60  ?  0   COIL  2.801   385.1    0  0  3
4  C  A  0  60  ?  0  SHEET  0.801   255.0  269  0  3

In [5]:
df.tail()

     A  B   C   D  E  F      G      H      I     J  K  L
252  C  A   0  60  ?  0   COIL  0.799  609.0     0  0  3
253  C  R   6   0  ?  0  SHEET  1.000  610.0  4880  0  3
254  C  A   0  50  ?  0   COIL  0.600   20.0     0  0  3
255  C  K  45   0  ?  0   COIL  0.600  900.0     0  0  3
256  C  R   6   0  ?  0  SHEET  1.000  610.0   762  0  3

In [6]:
df["G"]

0       COIL
1       COIL
2      SHEET
3       COIL
4      SHEET
       ...
252     COIL
253    SHEET
254     COIL
255     COIL
256    SHEET
Name: G, Length: 257, dtype: object

In [10]:
df.groupby("A")